@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a demo project build with the <a href="https://simplestore.io/">Simple Store API</a>.</p>
</div>
